.video-link {
  text-decoration: underline;
}

.info-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.info-paragraph {
  width: 80%;
}
